body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(background.png);
}

header {
    background-color: #0078D7;
    color: white;
    padding: 20px;
    text-align: center;
}
.a {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product {
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #838181;
    border-radius: 5px;
    background: #f9f9f9;
    height: 615px;
    width: 310px;
    display: inline-table;
}
.img {
    /* width: 300px; */
    height: 299px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0078D7;
    color: white;
}
nav {
    align-items: baseline;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.list1 li:hover {
    background-color: #444343;
}

.list1 li{
    display: inline-block;
    padding: 15px;
    margin: 0 10px;
}

.hidden_list{
    display: none;
}

.list2:hover .hidden_list{
    display: block;
    position: absolute;
    top: 262px;
    left: 740px;
}

.hidden_list li{
    background-color: #444343;
    padding: 15px;
    display: block;
}

.hidden_list li:hover{
    background-color: #838181;
}
div{
    color: black;
}

.list_div{
    text-align: center;
    margin: 20px;

}

.product p{
    text-align: left;
}